
.woods

{width: 8000vw; height: 100vh; background-image: url("long_trees.png"); background-repeat: repeat-x; position: relative; top: -5vh; left: -15vw; 
    animation: woods 10s;}

.track {
    width: 8000vw; height: 100vh; background-image: url("track.png"); background-repeat: repeat-x; position: relative; top: -13vh;
animation: track 10s;}

.car {width: 10px;height: 3px;
    position: relative; bottom: 123vh;left: 45vh;}


    .front-wheel {width: 70px;
        position: relative; bottom: 118vh;left: 36vw;
        animation: fwheel 18ms ease-in 300ms 565 reverse;
    }
        

.rear-wheel {width: 66px;
    position: relative; bottom: 128.2vh;left: 24.5vw;
animation: fwheel 18ms ease-in 300ms 565 reverse;}
    


@keyframes fwheel{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}    
}


@keyframes track {
    from{left: -20px;}
    to{left: -7980px;}
}

@keyframes woods {
    from{left: -20px;}
    to{left: -7980px;}
    
}

page-margin {0px}